*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: url('images/img.jpg') no-repeat center center/cover;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .9;
    }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 500px;
    background: skyblue;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
h1{
    color:rgba(0, 0, 0, 0.623);
    letter-spacing: 1.2px;
    font-size: 30px;
}
#celcius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
input{
    flex: 5;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 2px 4px 8px;
    padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.icon{
    flex: 1;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    font-size: 18px;
    background: lightgray;
    color: #000;
    border-radius: 0 8px 8px 0;
}
.button{
    margin-top: 15px;
    text-align: center;
}
.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.button button:hover{
    background: black;
    color: white;
}
